[Unit]
Description=MFNavis
After=basic.target

[Service]
Type=idle
User=__MFNAVIS_USER__
WorkingDirectory=__MFNAVIS_REPO_DIR__/python
Environment=MFNAVIS_DATA_DIR=__MFNAVIS_DATA_DIR__
Environment=MFNAVIS_RUNTIME_DIR=/dev/shm/mfnavis
ExecStart=/usr/bin/python -m MFNavis.main
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=basic.target
