[Unit]
Description=MFNavisSplash

[Service]
WorkingDirectory=__MFNAVIS_REPO_DIR__/python
Environment=MFNAVIS_DATA_DIR=__MFNAVIS_DATA_DIR__
Environment=MFNAVIS_RUNTIME_DIR=/dev/shm/mfnavis
ExecStart=/usr/bin/python -m MFNavis.splash

[Install]
WantedBy=basic.target
