[Unit]
Description=MFNavis AP / AP+STA Virtual AP Interface
After=sys-subsystem-net-devices-wlan0.device NetworkManager.service
Wants=NetworkManager.service
Before=hostapd.service dnsmasq.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash __MFNAVIS_REPO_DIR__/scripts/mfnavis_apsta.sh prepare
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
