[Unit]
Description=MFNavis AP+STA Channel Monitor
After=hostapd.service dnsmasq.service

[Service]
Type=simple
ExecStart=/usr/bin/bash __PIFINDER_REPO_DIR__/scripts/mfnavis_apsta.sh monitor
Restart=always
RestartSec=5

[Install]
Alias=pifinder_apsta_monitor.service
WantedBy=multi-user.target
